<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- th:fragment 속성  <head> 태그에 해당 속성을 사용해서 fragment의 이름을 지정-->
	<head th:fragment="main-head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
<!-- th:block 속성 layout:fragment 속성에 이름을 지정해서 실제 Content 페이지의 내용을 채우는 기능 -->
		<th:block layout:fragment="title"></th:block>
<!-- th:href 속성 웹 애플리케이션을 구분하는 Context Path를 처리하거나 할 때 사용 -->
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<link rel="stylesheet" th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}" />

		<th:block layout:fragment="add-css"></th:block>
	</head>
</html>